<h1> All {{modelName}} </h1>

<table class="bus-stop-table" border="1">
	<tr>
		<th>Site No </th>
		<th>Bus St</th>
		<th>Chosen POI</th>
		<th>Steps To Walk</th>
		<th>Mins To Walk</th>
		<th>Edit</th>
	</tr>
	
	{{#each models}}
		<tr>
			<td>{{this.siteNo}}</td>
			<td>{{this.busSt}}</td>
			<td>{{this.chosenPoi}}</td>
			<td>{{this.stepsToWalk}}</td>
			<td>{{this.minsToWalk}}</td>
			<td><a href="/busstop/id/{{this._id}}">link</td>
		</tr>
	{{/each}}

</table>

<a href="/busstop/create"> Create New Busstop </a>