<h1> Show {{modelName}} </h1>

<form class="bus-stop-form" action="/busstop/api/update/{{model._id}}" method="POST">
	
	<p> Site No </p>
	<input value="{{model.siteNo}}" name='siteNo' >
	<!--<p> Final Face </p>
	<input value="{{model.finalface}}" name='finalface' >
	<p> Bus No </p>
	<input value="{{model.bsNo}}" name='bsNo' >
	<p> Description </p>
	<input value="{{model.description}}" name='description' >
	<p> Facing </p>
	<input value="{{model.facing}}" name='facing' >-->
	<p> Bus Stop </p>
	<input value="{{model.busSt}}" name='busSt' >
	<!--<p> Panel Id </p>
	<input value="{{model.panelId}}" name='panelId' >
	<p> Mrt </p>
	<input value="{{model.mrt}}" name='mrt' >
	<p> Bus No </p>
	<input value="{{model.busNo}}" name='busNo' >-->
	<p> Chosen POI </p>
	<input value="{{model.chosenPoi}}" name='chosenPoi' >
	<p> Distance From POI </p>
	<!--<input value="{{model.distanceFromPoi}}" name='distanceFromPoi' >-->
	<p> Steps To Walk </p>
	<input value="{{model.stepsToWalk}}" name='stepsToWalk' >
	<p> Mins To Walk </p>
	<input value="{{model.minsToWalk}}" name='minsToWalk' >
	<!--<p> No. of Bus Stop</p>
	<input value="{{model.noOfBusStop}}" name='noOfBusStop' >
	<p> Remarks </p>
	<input value="{{model.remarks}}" name='remarks' >
	<p> Image </p>
	<input value="{{model.image}}" name='image' >-->
	<p> Auth </p>
	<input value="auth" name='auth' >

	<button type="submit">Submit</button>

</form>

<h2> Delete this entry </h2>
<form class="bus-stop-form" action="/busstop/api/delete/{{model._id}}" method="POST">
	<input value="auth" name='auth' >
	<button type="submit">Delete</button>
</form>